<header class="header-listados row">
    <div class="col-xs-9">
        <h3>{{descripcion()}}</h3>
        <p *ngIf="totalPeliculas">Tienes {{totalPeliculas}} películas {{descripcion() | lowercase}}</p>
        <p *ngIf="!totalPeliculas && tipo == 'pendientes'">¡Enhorabuena! No tienes ninguna película pendiente de ver</p>
        <p *ngIf="!totalPeliculas && tipo == 'vistas'">Aún no has visto ninguna película de tu lista</p>
    </div>
    <div class="despliega-listado col-xs-3 hidden-lg">
        <i class="icono-circular icono-desplegar fa fa-caret-up pull-right" data-toggle="collapse" [attr.href]="'#lista-' + tipo"></i>
    </div>
</header>
<ul class="lista-pelis collapse in row list-unstyled" [ngClass]="claseLista" id="lista-{{tipo}}">
    <li *ngFor="let pelicula of peliculasPorTipo(tipo)" class="col-xs-12 col-md-6 col-lg-3">
        <div class="row">
            <div class="cartel col-xs-4">
                <img class="img-responsive" [src]="pelicula.cartel" [alt]="pelicula.titulo">
            </div>
            <div class="datos col-xs-8">
                <h4>{{pelicula.titulo}}</h4>
                <span class="director">{{pelicula.director}}
                    <span class="anyo">({{pelicula.anyo}})</span>
                </span>
                <ul class="puntuacion list-inline" [attr.data-puntos]="puntosString(pelicula)">
                    <li *ngFor="let estrella of [1, 2, 3, 4, 5]" class="estrella">
                        <i class="glyphicon" [ngClass]="claseEstrella(pelicula, estrella)" [title]="tituloEstrella(pelicula, estrella)" (click)="marcarVista(pelicula, estrella)"></i>
                    </li>
                </ul>
            </div>
            <div class="opciones">
                <i class="glyphicon glyphicon-option-vertical collapsed" data-toggle="collapse" [attr.href]="'#submenu-pelicula-' + pelicula.id"></i>
                <ul class="submenu-pelicula collapse list-unstyled" [id]="'submenu-pelicula-' + pelicula.id">
                    <li>
                        <a href="#" (click)="eliminarPelicula($event, pelicula)">Eliminar película</a>                        
                    </li>
                    <li *ngIf="tipo == 'vistas'">
                        <a href="#" (click)="marcarNoVista($event, pelicula)">Marcar como no vista</a>
                    </li>
                </ul>
            </div>
        </div>
    </li>
</ul>
