<main class="listados">
    <section *ngIf="avisoVisible" class="aviso row">
        <p class="col-xs-12">Acabas de añadir {{avisoTitulo}}</p>
    </section>        
    <header *ngIf="totalPeliculas == 0" class="header-listados row">
        <p class="col-xs-9">Aún no tienes ninguna película en tu listado. Prueba a añadir alguna película pendiente de ver.</p>
        <div class="anyade-pelicula col-xs-3">
            <i class="icono-circular icono-anyadir fa fa-plus pull-right"></i>
        </div>
    </header>
    <app-listado (marcarPelicula)="mostrarAviso($event)" *ngIf="totalPeliculas > 0" [tipo]="'pendientes'"></app-listado>
    <app-listado *ngIf="totalPeliculas > 0" [tipo]="'vistas'"></app-listado>
</main>