<header class="header row">
  <div class="col-xs-2 visible-xs">
      <div class="bars collapsed" data-toggle="collapse" href="#menu-principal">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
      </div>
  </div>
  <div class="nombre-app col-xs-10 col-sm-3 text-right">
      <h1>Mis pelis</h1>
  </div>
  <ul class="menu-principal col-xs-12 col-sm-9 list-unstyled collapse" id="menu-principal">
      <li>
          <a href="/">Listado de películas</a>
      </li>
      <li>
          <a href="#" data-toggle="collapse" class="collapse" href="#formulario">Añadir película</a>
      </li>
      <li>
          <a href="#">Ayuda</a>
      </li>
      <li>
          <a href="#">Cerrar sesión</a>
      </li>
  </ul>
</header>
