<section class="titulo row">
    <h2 class="col-xs-9">Listado</h2>
    <div class="anyade-pelicula col-xs-3">
        <a data-toggle="collapse" href="#formulario" class="collapsed">
            <i class="icono-circular icono-anyadir fa fa-plus pull-right hide"></i>
            <i class="icono-circular icono-anyadir fa fa-minus pull-right"></i>
        </a>
    </div>
</section>