<section class="row formulario panel panel-default collapse" id="formulario">
    <form class="panel-body" #formularioCrearPelicula="ngForm" (ngSubmit)="crearPelicula(formularioCrearPelicula)">
        <div class="clearfix">
            <div class="form-group col-sm-6">
                <label for="titulo">Título:</label>
                <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="nuevaPelicula.titulo" placeholder="Introduce el título de la película" required #campoTitulo="ngModel">
                <p *ngIf="campoTitulo.invalid && campoTitulo.touched" class="error">Por favor, rellena este campo</p>
            </div>
            <div class="form-group col-sm-6">
                <label for="director">Director:</label>
                <input type="text" class="form-control" id="director" name="director" [(ngModel)]="nuevaPelicula.director" placeholder="Introduce el nombre del director" required #campoDirector="ngModel">
                <p *ngIf="campoDirector.invalid && campoDirector.touched" class="error">Por favor, rellena este campo</p>
            </div>
        </div>
        <div class="clearfix">
            <div class="form-group col-sm-6">
                <label for="anyo">Año:</label>
                <input type="number" class="form-control" id="anyo" name="anyo" [(ngModel)]="nuevaPelicula.anyo" placeholder="Introduce el año de rodaje" required #campoAnyo="ngModel">
                <p *ngIf="campoAnyo.invalid && campoAnyo.touched" class="error">Por favor, rellena este campo</p>
            </div>        
            <div class="form-group col-sm-6">
                <label for="cartel">Cartel:</label>
                <input type="url" class="form-control" id="cartel" name="cartel" [(ngModel)]="nuevaPelicula.cartel" placeholder="Introduce la URL del cartel" required #campoCartel="ngModel">
                <p *ngIf="campoCartel.invalid && campoCartel.touched" class="error">Por favor, rellena este campo</p>
            </div>
        </div>
        <div class="form-group col-xs-12">
            <button type="submit" class="btn btn-primary" [disabled]="formularioCrearPelicula.invalid">Añadir película</button>
            <!--Vas a crear la pelicula {{nuevaPelicula | json}}-->
        </div>
    </form>
</section>    